<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orjujeng.auth.mapper.AuthMapper">
<resultMap id="AuthAccessMemberInfo" type="com.orjujeng.auth.entity.AuthAccessMemberInfo">
        <!--手动指定字段与实体属性的映射关系
            column: 数据表的字段名称
            property：实体的属性名称
        -->
        <id column="id" property="aid"></id>
        <result column="member_id" property="memberId"></result>
        <result column="auth_access" property="authAccess"></result>
        <result column="profile_access" property="profileAccess"></result>
        <result column="timesheet_access" property="timesheetAccess"></result>
        <result column="request_access" property="requestAccess"></result>
        <result column="mid" property="memberInfo.id"></result>
        <result column="name_zh" property="memberInfo.nameZh"></result>
        <result column="name_cn" property="memberInfo.nameCn"></result>
        <result column="account_num" property="memberInfo.accountNum"></result>
        <result column="manager_id" property="memberInfo.managerId"></result>
        <result column="perm" property="memberInfo.perm"></result>
        <result column="auth_of_backend" property="memberInfo.authOfBackend"></result>
        <result column="join_date" property="memberInfo.joinDate"></result>
        <result column="expired_date" property="memberInfo.expiredDate"></result>
        <result column="last_updated_date" property="memberInfo.lastUpdatedDate"></result>
        <result column="delete_flag" property="memberInfo.deleteFlag"></result>
    </resultMap>
    
	<select id="checkpasswordByMemberId" resultType="com.orjujeng.auth.entity.AuthInfo">
  		SELECT * FROM auth_info 
  		<where>
  		<if test = "member_id!=null">
  		member_id  = ${member_id} 
  		 </if>
		</where>
 	</select>
 	
 	<select id="checkAuthAccess" resultType="com.orjujeng.auth.entity.AuthAccessInfo">
  		SELECT * FROM auth_access_info 
  		where member_id  = ${member_id};
 	</select>
 	
 	<select id="getAllAuthAccessInfo" resultMap="AuthAccessMemberInfo">
  		SELECT aai.*,mi.id as mid,mi.name_zh,mi.name_cn,mi.account_num,mi.manager_id,mi.perm,mi.auth_of_backend,mi.join_date,mi.expired_date,mi.last_updated_date,mi.delete_flag FROM auth_access_info as aai
  		left join PROFILE_API.member_info as mi
  		on aai.member_id = mi.id;
 	</select>
 	
 	 <update id="updateAuthAccessInfo" parameterType="com.orjujeng.auth.entity.AuthUpdate">
  update auth_access_info
  <set> 
  		<if test="type=='authAccess'">
            auth_access = #{value}
        </if>
        <if test="type=='profileAccess'">
            profile_access= #{value}
        </if>
        <if test="type=='requestAccess'">
            request_access = #{value}
        </if>
        <if test="type=='timesheetAccess'">
            timesheet_access= #{value}
        </if>
        </set> 
        where member_id = #{memberId}
 </update>
 
 	<select id="checkAccessAccordingToType" resultType="com.orjujeng.auth.entity.AuthCheckResult">
  		SELECT ${type} as result FROM auth_access_info 
  		where member_id  = ${memberId};
 	</select>
 	
 	
 	<insert id="addAuthAccessInfo" useGeneratedKeys="true">
    insert into auth_access_info(member_id,auth_access,profile_access,timesheet_access,request_access) values 
    (${memberId},'N','N','N','N');
 	</insert>
 	
 	
 	<insert id="addAuthInfo" useGeneratedKeys="true">
    insert into auth_info(member_id,account_num,password,termination,last_updated_date) values 
    (${memberId},#{accountNum},'e1a7c4358706c6202e95d0356b9d7672','N',sysdate());
 	</insert>
	<delete id ="deleteAuthAccessInfo">
		delete from auth_access_info where member_id = ${memberId};
	</delete>
	<delete id ="deleteAuthInfo">
		delete from auth_info where member_id = ${memberId} and account_num = #{accountNum};
	</delete>
</mapper>